.Profile {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(1, 1, 1, .7);
    padding: 0 20px 40px 20px;
    border-radius: 5px;
}

.profile-create {
    margin-top: 0;
}