.anim {
    animation: fadeIn 2.5s;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin-top: 10rem;
    }

    to {
        opacity: 1;
        margin-top: 2rem;
    }
}

.keys {
    width: 5%;
    margin: 5rem auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
    justify-content: center;
}

.key {
    border: 4px solid black;
    border-radius: 5px;
    margin: 0;
    font-size: 1.5rem;
    transition: all 0.07s;
    width: 120px;
    height: 120px;
    text-align: center;
    color: rgb(219, 255, 228);
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drum-pad {
    transition: .3s all ease;
}

.playing {
    transform: scale(1.1);
    background: rgba(107, 255, 224, 0.3);
    box-shadow: 0 0 10px #6bffe0;
    font-size: 100px;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #6bffe0;
}

@media(max-width:769px) {

    .key {
        width: 80px;
        height: 80px;
        font-size: 10px;
        border: 2px solid black;
    }

    .keyStrike {
        display: none;
    }



    .keys {
        margin: 2rem auto !important;
    }
}