.BeatPadPage {
    width: 100%;
    height: 100vh;
    background: black;
}

.beat-container {
    display: flex;
    background: #645f65;
    box-shadow: inset 3px 3px 20px #000000;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    height: 100vh;
}

.pads {
    width: 100%;
}

.controls {
    width: 50%;
}

@media(max-width:769px) {
    .pads {
        width: 100%;
    }

    .beat-container {
        width: fit-content;
    }
}