.form-auth {
    background: rgba(0, 0, 0, .7);
    width: fit-content;
    margin: 0 auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
}

button.btnLogin {
    background-color: #fff;
    color: #000;
    box-shadow: none;
}

a.cancel-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.header-footer {
    font-size: 20px;
}